# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-fabric-trade-cycling
runs
run-data
marketing_posts.md
mod_description_update.md
Source-Code-Reference

repo
